name: 1-hour-tracker

on: 
  push:
    paths:
      - 'browser/**'
      - 'server/**'
      - '.github/workflows/build-and-test.yml'
    branches:
      - '**'

env: 
  ARTIFACT_NAME: TypeScript-1-Hour-Tracker

jobs:
  build:
    name: Build Server
    runs-on: ubuntu-22.04
    permissions:
      contents: read
    defaults:
      run:
        working-directory: ./server/
    steps:
      - name: Clone repo
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with: 
          node-version: 18

      - name: Install Dependencies
        run: npm install

      - name: Lint with ESlint
        run: npx eslint ./typescript/

      - name: Compile TypesScript
        run: npx tsc

      - name: Run Tests
        run: npm test

      - name: Upload Code
        uses: actions/upload-artifact@v3
        with:
          name: ${{ env.ARTIFACT_NAME }}
          path: |
            ./server/emit/
            ./server/package.json
            ./server/package-lock.json

  test:
    name: Test
    runs-on: ubuntu-22.04
    permissions:
      contents: read
    steps:
      - name: Clone repo
        uses: actions/checkout@v3

      - name: Validate
        uses: Cyb3r-Jak3/html5validator-action@master
        with:
          root: ./browser/
          css: true
      - name: Upload log
        uses: actions/upload-artifact@v3
        with:
          name: log
          path: log.log
        